.link {
  stroke: #000000;
  stroke-width: 2px;
}

.node text {
  pointer-events: none;
  font: 12px sans-serif;
}

.node circle {
  cursor: pointer;
  stroke: #000000;
  stroke-width: 1.5px;
}